labeled_videos/00444043_ES04
labeled_videos/00444043_ES05
labeled_videos/3010040645-DM4K_es03
labeled_videos/c1dwee7v81b5don4ak86vtcu_512
labeled_videos/c1dwee7v81b5don4ak86vtcu_692
labeled_videos/c2d7b15a4kz60ol65894uwiu
labeled_videos/c8jka0cpama5ykz5ybc6aj3u
labeled_videos/cc4nowntl76xocrpx6eqj8cu_0
labeled_videos/ch5ad04a78eqdtkge4tu0jdu
labeled_videos/cskpnp1m39g9b110ri229wyu_10s
labeled_videos/WM_021024_THERIVER_06_0014_WM_021024_THERIVER_06_0014_es01
*.zip
*.tar.gz
New_drone_dataset/VisDrone2019-DET-test-dev
New_drone_dataset/VisDrone2019-DET-train
New_drone_dataset/VisDrone2019-DET-val
old_dataset/basement_0001a_out
old_dataset/dining_room_0001b_out
old_dataset/office_0024_out
output/
pretrained_models/*